@import url('https://samrland.github.io/export/font/Atkinson_Hyperlegible/export.css');

/* Oxygen, Share, Instrument Sans */
/*@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oxygen:wght@400;700&family=Share:ital,wght@0,400;0,700;1,400;1,700&family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,700;0,1000;1,1;1,100;1,200;1,300;1,400;1,700;1,1000&display=swap');*/

@font-face {
    font-family: 'Sofia Sans';
    src: url('./SofiaSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Sofia Sans';
    font-style: italic;
    src: url('./SofiaSans-Italic-VariableFont_wght.ttf');
}

:root {
    --background-1: #000;

    --foreground-1: #f0f0f0;
    --foreground-2: #292929;

    /*--font-1: 'Atkinson Hyperlegible', sans-serif;
    --font-2: 'Instrument Sans', sans-serif;
    --font-3: 'Sofia Sans', sans-serif;
    --font-4: Oxygen, sans-serif;*/


    --font-family: 'Sofia Sans', sans-serif;
}

* {
    -webkit-user-select: none;
    user-select: none;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--font-family);
    font-variation-settings: "wght" 350;
}

html, body {
    color: var(--foreground-1);
    background: var(--background-1);
}

a {
    font-size: 2rem;
    color: var(--foreground-1);
    text-decoration: none;
    border-bottom: 1px solid var(--foreground-2);

    position: relative;
    top: 0;

    transition: ease-out 120ms;
}

a:hover {
    border-color: var(--foreground-1);

    top: -2px;
}

a:active {
    top: -1px;
}
